.about__content {
  background-color: #ffffff;
}

@media screen and (min-width: $tablet) {
  .about__content {
    display: flex;

    & > div {
      flex: 1 1 auto;
    }
  }
}

@media screen and (min-width: $desktop) {
  .about {
    z-index: 5;
    height: 100vh;
  }
}
