.banner {
  z-index: 3;
}

.banner__background {
  background: url('../assets/img/simon_bg_large.jpg') no-repeat center right fixed;
  background-size: cover;
}

.banner__content {
  padding: 0;
  background-color: #ffffff;
  top: 75%;
}

@media screen and (min-width: $tablet) {
  .banner {
    height: 100vh;
  }

  .banner__content {
    padding: 5em;
  }
}
