.banner {
  z-index: 3;
}

.banner__background {
  background: url('../assets/img/simon_bg_large.jpg') no-repeat center right fixed;
  background-size: cover;
  height: 80vh;
}

@media screen and (min-width: $tablet) {
  .banner {
    height: 80vh;
  }
}

@media screen and (min-width: $desktop) {
  .banner__background {
    height: 100vh;
  }
}
