.community {
  margin: 0 auto;
  z-index: 4;
  height: 100vh;
}

.community__background {
  background: url('../assets/img/community_bg_large.jpg') no-repeat;
  background-size: cover;
}

.community__content {
  width: 80%;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, .65);
  max-height: 30vh;
}

@media screen and (min-width: $tablet) {
  .community__content {
    width: 50%;
  }
}
