.community {
  margin: 0 auto;
  position: relative;
}

.community__background {
  background: url('../assets/img/community_bg_large.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.community__content {
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (min-width: $desktop) {
  .community {
    z-index: 4;
    height: 100vh;
  }
}
